body{
    background-color: #F3F7F0;
    margin: 0;
}

h1{
    color: #28587B;
}

header{
    justify-items: center;
}

header h2{
    color: #9FB4C7;
}

main{
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

section{
    display: flex;
    flex-direction: column;
    width: 22.5%;
    height: 500px;
    text-align: justify;    
    padding-right: 15px;
}

button{
    border-radius: 15px;
    border: #D5A021, 2px solid;
    font-size: 16px;
    margin-top: 60px;
    background-color: none;
    padding-top: 20px;    
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    align-self: center;
}

button:hover{
    background-color: #D5A021;
    color: #EEEEFF;
    transition-duration: 0.5s;
}

img{
    align-self: center;
    border-radius: 100%;
    width: 225px;
    height: 225px;
}

#perfil{
    justify-items: center;
    padding-right: 0px;
    background-color: #0D5C63;
}

#perfil h2{
    text-align: center;
}

footer{
    background-color: #0D0221;
    margin: 0;
    border: 0;
    color: #FFFFFA;
}